In [8]:
#question 1 

def factorial(num):
    fact =1 
    for i in range(1,num+1):
        fact = fact * i
    return fact

In [9]:
factorial(5)

120

In [10]:
factorial(100)

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [11]:
#question 2
def multitable(num,upto):
    for i in range(1,upto+1):
        print(num," x ",i," = ",num*i,"\n")

In [15]:
multitable(26567,9)

26567  x  1  =  26567

26567  x  2  =  53134

26567  x  3  =  79701

26567  x  4  =  106268

26567  x  5  =  132835

26567  x  6  =  159402

26567  x  7  =  185969

26567  x  8  =  212536

26567  x  9  =  239103

In [30]:
#question 3
def fib(num):
    f = [0,1]
    for i in range(2,num+1):
        f.append(f[i-1] + f[i-2])
    for i in f:
        print(i)

In [34]:
fib(40)

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269
2178309
3524578
5702887
9227465
14930352
24157817
39088169
63245986
102334155

In [88]:
#question 4

def armstrong(n):
    output = 0
    num = str(n)
    power = len(num)
    for i in num:
        output = output + int(i)**power
    if output == int(num):
        return True
    else:
        return False
    
    return

In [89]:
armstrong(153)

True

In [90]:
armstrong(689)

False

In [94]:
#question 5 
for i in range(1,2000000):
    if armstrong(i):
        print(i)

1
2
3
4
5
6
7
8
9
153
370
371
407
1634
8208
9474
54748
92727
93084
548834
1741725

In [ ]:
#question 6

def sumnatural(first,last):
    a = 0
    for i in range()